body{
    background-color: #4158D0;
    height: 100vh;
    margin: 0.1px !important;
    background: linear-gradient(45deg, #4d20d4 30%, #20d4a7 100%) !important;
    font-family: "Tajawal", sans-serif !important;
	color: #8c96a7;
    direction: rtl;
}

.main-container{
    background-color: $t-1 !important;
    margin: 65px 45px 0px 35px !important;
    min-height: calc(100vh - 6rem) !important;
    max-height: calc(100vh - 6rem) !important;
    border-radius: $border-radius-lg !important;
    padding: $spacer * 1.75;
}


.show-scroll {
    overflow-y: scroll;
    overflow-x: hidden;
}

.show-scroll::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.show-scroll::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 2px grey;  */
	border-radius: 10px;
}

/* Handle */
.show-scroll::-webkit-scrollbar-thumb {
	background: #cdd7ec40;
	border-radius: 10px;
}

/* Handle on hover */
.show-scroll::-webkit-scrollbar-thumb:hover {
	background: #cdd7ec60;
}

.list-group-item {
    background-color: $t-3;
}

.bg-none{
    background: #00000000 !important;
}

.dg-content{
    text-align: right;
}

.dg-main-content{
    background: $t-1 !important;
    padding: $spacer * 2 !important;
    backdrop-filter: blur(5px);-webkit-backdrop-filter: blur(5px);
}

label{
    color: #d4d4d4;
}

.form-control{
    background-color: #ffffff3d;
    backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 0;
}

.form-control::placeholder {
	color: #ddd;
}

.form-control:focus{
    color: rgb(34, 34, 34);
    background-color: #fffc;
}